{% extends 'backbase.html.twig' %}

{% block title %}Feedback index{% endblock %}

{% block body %}
    <h1 class="text-center mb-5 ">Feedback index</h1>
    <a href="{{ path('app_feedback_new') }}"><i class="fas fa-plus"></i>Create new</a>
     <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
<div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rating</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Comment</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Show</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.rating }}</td>
                <td>{{ feedback.comment }}</td>
                <td>{{ feedback.date ? feedback.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_feedback_show', {'id': feedback.id}) }}"><i class="fas fa-eye"></i>show</a>
                </td>
                <td>
                    <a href="{{ path('app_feedback_edit', {'id': feedback.id}) }}"><i class="fas fa-edit"></i>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div></div>
<br>
    


    <style>
.table {
    margin: 0 auto; /* centers the table horizontally */
}
  h1 {
        color: #14B1A1;
    }
</style>
{% endblock %}
